h1{
	color: red;
}
#head-id{
	color: blue;
}
.head-class{
	color: yellow;
}
.head-class1{
	color: #78e08f;
}
.Box{
	width: 100px;
	height: 30px;
	margin-top: 4px;

	border-color: #0be881;
	border-style: solid;
	/*background-color: #f8c291;*/
}
#Box1{
	background-color: #039BE5;
}
#Box2{
	background-color: #FFB300;
}
#Box3{
	background-color: #8E24AA;
}
#Image1{
	background-image: url(1.jpg);
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 50px;
}
.footer {
    background-color: #F1F1F1;
    clear: both;
    text-align: center;
    padding: 50px;

}
.footer1 {
    background-color: #039BE5;
   
    text-align: center;
    padding: 50px;

}
.nav {
    float: left;
    width: 30%;
    height: 700px; 
    background: #ccc;
    padding: 20px;
}
.nav1 {
    float: right;
    width: 30%;
    height: 500px; 
    background: #ccc;
    padding: 20px;
}
.nav2 {
    float: left;
    width: 30%;
    height: 500px; 
    background: #FDD835;
    padding: 20px;
}
